<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/magnific-popup/magnific-popup.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/highlight.js/styles/github.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/dark-mode.css" />
    <link rel="stylesheet" type="text/css" href="../custom.css" />
</head>

<body data-target=".idocs-navigation">

<!-- Preloader -->
<div class="preloader">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div id="main-wrapper"> 
  
  <header id="header" class="sticky-top"> 
    <nav class="primary-menu navbar navbar-expand-lg navbar-dropdown-dark">
      <div class="container-fluid">
        <button id="sidebarCollapse" class="navbar-toggler d-block d-md-none" type="button"><span></span><span class="w-75"></span><span class="w-50"></span></button>
        
        <!-- Logo --> 
        <a class="logo" title="" @click="reload()"> 
            {{ config.logo }}
        </a> 

        <span v-if="config.version" class="text-2 ml-2">{{ config.version }}</span> 

        <!-- Navbar Toggler -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#header-nav"><span></span><span></span><span></span></button>
        
        <div id="header-nav" class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li v-for="a in config.menu" class="dropdown">
              <a class="dropdown-toggle" @click="scrollTo(i)" target="_blank">{{ a.title }}</a>
            </li>
          </ul>
        </div>

        <div @click="toggleDarkMode()" class="dark-toggle">
            <div>
                <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg"><path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8V16Z" fill="currentColor"/><path clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4V8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16V20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z" fill="currentColor" fill-rule="evenodd"/></svg>
            </div>
        </div>
        
      </div>
    </nav>
    <!-- Navbar End --> 
  </header>
  <!-- Header End --> 
  
  <!-- Content
  ============================ -->
  <div id="content" role="main">
    
    <!-- Sidebar Navigation
    ============================ -->
    <div class="idocs-navigation">
      <ul class="nav flex-column ">

        <li v-for="i of config.sections" class="nav-item">
          <a class="nav-link active" @click="section(i); show = false; scrollTop()">{{ i.title }}</a>
          <ul v-if="active === i" class="nav flex-column">
            <li v-for="item of active.titles" class="nav-item"><a class="nav-link" @click="scrollTo(item)">{{ item.title }}</a></li>
          </ul>
        </li>

        <li @click="show = 'faq'; active = false" v-if="config.faq" class="nav-item">
            <a class="nav-link" @click="scrollTo('faq'); scrollTop()">{{ config.faqTitle || 'Frequently Asked Questions' }}</a>
        </li>

        <li @click="show = 'changelog'; active = false" v-if="config.changelog" class="nav-item">
            <a class="nav-link" @click="scrollTo('changelog'); scrollTop()">{{ config.changeLogTitle || 'Changelog' }}</a>
        </li>


      </ul>
    </div>
    
    <!-- Docs Content
    ============================ -->
    <div class="idocs-content">
      <div class="container"> 

    <div v-if="active && !show" :id="active.slug" class="scroll-to-container">
        <div v-html="parseMarkdown(active.template)"></div>
    </div>

    <!-- <hr v-if="config.faq && show == 'faq'" class="divider"> -->

        <!-- FAQ
        ============================ -->
        <section v-if="config.faq && show == 'faq'" id="faq">
          
          <h2>{{ config.logTitle || 'FAQ' }}</h2>

          <!-- <p class="text-4">A FAQ is a list of frequently asked questions (FAQs) and answers on a particular topic.</p> -->
          
          <div class="row">
          <div class="col-lg-12">
            <div class="accordion accordion-alterate arrow-right" id="popularTopics">

              <div v-for="i in config.faq" class="card">
                <div class="card-header" id="heading1">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">{{ i.title }}</a> </h5>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#popularTopics">
                  <div class="card-body">{{ i.body }}</div>
                </div>
              </div>
             
              
            </div>
          </div>
        </div>
          
        </section>
        
        <section v-if="config.changelog && show == 'changelog'" id="changelog">

          <h2>{{ config.logTitle || 'Changelog' }}</h2>

          <div v-for="change in config.changelog">
        
              <hr class="divider">
              
              <h2 id="v1-1">{{ change.title }} <small v-if="change.date" class="text-muted">({{ change.date }})</small></h2>

              <ul class="changelog">
                <li v-for="item in change.changes"><span :class="`badge badge-${item.type || 'success'}`">{{ item.label }}</span> {{ item.title }}</li>
              </ul>
              
          </div>

        </section>        
        
      </div>
    </div>
    
  </div>
  
</div>

<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<script src="../assets/vendor/jquery/jquery.min.js"></script> 
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<script src="../assets/vendor/highlight.js/highlight.min.js"></script> 
<script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script> 
<script src="../assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script> 
<script src="../assets/js/showdown.min.js"></script>
<script src="../assets/js/axios.min.js"></script>
<script src="../assets/js/vue.min.js"></script>
<script src="../assets/js/vue.markdown.min.js"></script>

<script>
    window.load = function() {

        $('.primary-menu ul.navbar-nav li.dropdown, .login-signup ul.navbar-nav li.dropdown').on("mouseover", function() {
            if ($(window).width() > 991) {
                $(this).find('> .dropdown-menu').stop().slideDown('fast');
                $(this).bind('mouseleave', function() {
                $(this).find('> .dropdown-menu').stop().css('display', 'none'); 
                });
            }
        });

        $('.primary-menu ul.navbar-nav .dropdown-menu').each(function() {
            var menu = $('#header .container-fluid').offset();
            var dropdown = $(this).parent().offset();

            var i = (dropdown.left + $(this).outerWidth()) - (menu.left + $('#header .container-fluid').outerWidth());

            if (i > 0) {
                $(this).css('margin-left', '-' + (i + 5) + 'px');
            }
        });
   
        $('.primary-menu ul.navbar-nav').find('a.dropdown-toggle').append($('<i />').addClass('arrow'));

        $('.primary-menu .navbar-nav .dropdown-toggle[href="#"], .primary-menu .dropdown-toggle[href!="#"] .arrow').on('click', function(e) {
            if ($(window).width() < 991) {
                e.preventDefault();
                var $parentli = $(this).closest('li');
                $parentli.siblings('li').find('.dropdown-menu:visible').slideUp();
                $parentli.find('> .dropdown-menu').stop().slideToggle();
                $parentli.siblings('li').find('a .arrow.show').toggleClass('show');
                $parentli.find('> a .arrow').toggleClass('show');
            }
        });

        $('.navbar-toggler').on('click', function() {
            $(this).toggleClass('show');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebarCollapse span:nth-child(3)').toggleClass('w-50');
            $('.idocs-navigation').toggleClass('active');
        });

        // $('.smooth-scroll, .nav-link, .nav-item').on('click', function(event) {
        //     event.preventDefault();
        //     var sectionTo = $(this).attr('href');
        //     alert('nope!')
        //     // $('html, body').stop().animate({scrollTop: $(sectionTo).offset().top - 500}, 1000, 'easeInOutExpo');
        // });

        $('.popup-img').each(function() {
            $(this).magnificPopup({
                type: "image",
                tLoading: '<div class="preloader"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>',
                closeOnContentClick: !0,
                mainClass: "mfp-fade",
                
            });
        });

        $('[data-toggle=\'tooltip\']').tooltip({container: 'body'});

        $(function () {
            $(window).on('scroll', function(){
                if ($(this).scrollTop() > 400) {
                        $('#back-to-top').fadeIn();
                    } else {
                        $('#back-to-top').fadeOut();
                    }
                });
            });

        $('#back-to-top').on("click", function() {
            $('html, body').animate({scrollTop:0}, 'slow');
            return false;
        });

    }
    Vue.use(VueMarkdown);
    var app = new Vue({
        el: '#main-wrapper',
        data: {
            show: false,
            message: '<%- message %>',
            darkMode: false,
            active: false,
            config: {}
        },
        mounted() {

            var self = this

            if (localStorage.getItem('darkMode') == 'true' || localStorage.getItem('darkMode') !== 'false' && (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.className += 'dark-mode'
                localStorage.setItem('darkMode', true)
            }

            this.reload()

        },
        methods: {
            scrollTop(i) {
                // console.log(i)
                // window.location.hash = '#' + i.href
                $('html,body').animate({
                    scrollTop: 0
                }, 50);
                // this.redirect(i.hash)
            },
            scrollTo(i) {
                // console.log(i)
                // window.location.hash = '#' + i.href
                $('html,body').animate({
                    scrollTop: $('#' + i.href).offset().top - 100
                }, 50, function() {
                    // location.hash = i.href;
                    history.pushState({}, '', '#' + i.href);
                });
                // this.redirect(i.hash)
            },
            reload() {
                var self = this
                this.load((data) => {

                    document.title = data.title || 'Docs'

                    window.load()

                    hljs.initHighlighting.called = false;
                    hljs.initHighlighting();

                    $('.lds-ellipsis').fadeOut(); 
                    $('.preloader').delay(333).fadeOut('slow');
                    $('body').delay(333);

                    this.section(data.sections[0])
                    
                    var hash = window.location.pathname !== '/' ? window.location.pathname : window.location.hash

                    if (hash && self.config.redirect) {
                        for (var i of this.config.redirect) {
                            if (i.path === hash.replace('#', '').replace('/', '')) {
                                this.section({ title: '', file: i.file })
                            }
                        }
                    }

                    if (hash && !self.config.redirect) {
                        setTimeout(() => {
                            self.redirect(hash)
                        }, 500)
                    }

                })
            },
            redirect(hash) {
                window.location.hash = '#' + hash.replace('#', '').replace('/', '')
                return 
            },
            toggleDarkMode() {
                if (this.darkMode) {
                    this.darkMode = false
                    localStorage.setItem('darkMode', false)
                    window.location.reload()
                } else {
                    this.darkMode = true
                    document.documentElement.className += ' dark-mode'
                    localStorage.setItem('darkMode', true)
                }
            },
            generateLinkMarkup($contentElement) {
              const headings = [...$contentElement.querySelectorAll('h1, h2')]
              const parsedHeadings = headings.map(heading => {
                return {
                  title: heading.innerText,
                  depth: heading.nodeName.replace(/\D/g,''),
                  id: heading.getAttribute('id')
                }
              })
              return parsedHeadings
            },
            parseMarkdown(markdownText) {
                var converter = new showdown.Converter()
                return converter.makeHtml(markdownText);
            },
            title(text) {
                return text.trim().replace(/[^\.\w\s-]/g, '')
            },
            slug(text) {
                return text.toLowerCase().trim().replace(/[^\w\s-]/g, '').replace(/[\s_-]+/g, '').replace(/^-+|-+$/g, '')
            },
            section(i) {
                var self = this
                if (!i) return
                i.slug = this.slug(i.title)
                var url = i.file || i.url
                if (url) {
                    axios.get(url.replace('.md', '') + '.md').then((res) => {
                        i.template = res.data
                        this.active = i
                        setTimeout(() => {
                            hljs.initHighlighting.called = false;
                            hljs.initHighlighting();
                            var titles = i.template.match(/^## (.*$)/gim)
                                titles = titles ? titles.map(a => {
                                    return {
                                        title: self.title(a),
                                        href: self.slug(a)
                                    }
                                }) : titles
                            self.active.titles = titles
                            self.$forceUpdate()
                        }, 100)
                    })
                    return
                }
                this.active = i
                if (i.text || i.markdown) i.template = i.text || i.markdown
                setTimeout(() => {
                    hljs.initHighlighting.called = false;
                    hljs.initHighlighting();
                    var titles = i.template.match(/^## (.*$)/gim)
                        titles = titles ? titles.map(a => {
                            return {
                                title: self.title(a),
                                href: self.slug(a)
                            }
                        }) : titles
                    self.active.titles = titles
                    self.show = false
                    self.$forceUpdate()
                }, 100)
            },
            load(cb) {
                axios.get('./config.json').then((res) => {
                    this.config = res.data
                    if (cb) cb(res.data)
                }).catch((e) => {
                    if (e.message.includes('properties of')) {
                        alert('The config JSON has bad syntax. Fix it, please. Use a "JSON Linter" to find issue easily.')
                    } else {
                        alert("Error:", e.message)
                    }
                })
            }
        }
    })
</script>

</body>
</html>
