<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <title>Nano.to Documentation</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.26.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@latest/dist/showdown.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/magnific-popup/magnific-popup.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/highlight.js/styles/github.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/dark-mode.css" />
</head>

<body data-spy="scroll" data-target=".idocs-navigation" data-offset="125">

<!-- Preloader -->
<div class="preloader">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
=============================== -->
<div id="main-wrapper"> 
  
  <!-- Header
  ============================ -->
  <header id="header" class="sticky-top"> 
    <!-- Navbar -->
    <nav class="primary-menu navbar navbar-expand-lg navbar-dropdown-dark">
      <div class="container-fluid">
        <!-- Sidebar Toggler -->
		<button id="sidebarCollapse" class="navbar-toggler d-block d-md-none" type="button"><span></span><span class="w-75"></span><span class="w-50"></span></button>
		
		<!-- Logo --> 
        <a class="logo" title=""> 
            {{ config.logo }}
            <!-- <img src="assets/images/logo.png" alt=""/> -->
        </a> 
		<span v-if="config.version" class="text-2 ml-2">{{ config.version }}</span> 

		<!-- Navbar Toggler -->
		<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#header-nav"><span></span><span></span><span></span></button>
        
		<div id="header-nav" class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li v-for="a in config.menu" class="dropdown">
              <a class="dropdown-toggle" :href="a.href" target="_blank">{{ a.title }}</a>
            </li>
          </ul>
        </div>

        <div class="dark-toggle">
            <img @click="toggleDarkMode()" src="assets/images/dark-mode.svg" alt="">
        </div>
        
      </div>
    </nav>
    <!-- Navbar End --> 
  </header>
  <!-- Header End --> 
  
  <!-- Content
  ============================ -->
  <div id="content" role="main">
    
	<!-- Sidebar Navigation
	============================ -->
	<div class="idocs-navigation">
      <ul class="nav flex-column ">

        <li v-for="i of config.sections" class="nav-item">
          <a class="nav-link active" @click="section(i)" href="#content">{{ i.title }}</a>
          <ul v-if="active === i" class="nav flex-column">
            <li v-for="item of active.titles" class="nav-item"><a class="nav-link" :href="'#' + item.href">{{ item.title }}</a></li>
          </ul>
        </li>

        <!-- <li v-if="config.changelog" class="nav-item"><a class="nav-link" href="#changelog">Changelog</a> -->
        <!-- <li v-if="config.faq" class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li> -->

      </ul>
    </div>
    
    <!-- Docs Content
	============================ -->
    <div class="idocs-content">
      <div class="container"> 

    <div :id="active.slug" class="scroll-to-container">
        <div v-html="parseMarkdown(active.template)"></div>
    </div>

    <!-- <hr class="divider"> -->

		<!-- FAQ
		============================ -->
		<section v-if="false && config.faq" id="faq">
          
          <h2>FAQ</h2>

          <!-- <p class="text-4">A FAQ is a list of frequently asked questions (FAQs) and answers on a particular topic.</p> -->
          
		  <div class="row">
          <div class="col-lg-12">
            <div class="accordion accordion-alterate arrow-right" id="popularTopics">

              <div v-for="i in config.faq" class="card">
                <div class="card-header" id="heading1">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">{{ i.title }}</a> </h5>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#popularTopics">
                  <div class="card-body">{{ i.body }}</div>
                </div>
              </div>
             
              
            </div>
          </div>
        </div>
          
        </section>
        
		<hr v-if="false && config.changelog" class="divider">

        <section v-if="false && config.changelog" id="changelog">

          <h2>Changelog</h2>

          <div v-for="change in config.changelog">
    	
		      <hr class="divider">
        	  
              <h2 id="v1-1">{{ change.title }} <small v-if="change.date" class="text-muted">({{ change.date }})</small></h2>

              <ul class="changelog">
                <li v-for="item in change.changes"><span :class="`badge badge-${item.type || 'success'}`">{{ item.label }}</span> {{ item.title }}</li>
              </ul>
              
          </div>

        </section>        
        
      </div>
    </div>
	
  </div>

  <footer v-if="false" id="footer" class="section bg-dark footer-text-light">
    <div class="container">
      <ul class="social-icons social-icons-lg social-icons-muted justify-content-center mb-3">
        <li><a data-toggle="tooltip" href="https://twitter.com/harnishdesign/" target="_blank" title="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a data-toggle="tooltip" href="http://www.facebook.com/harnishdesign/" target="_blank" title="" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a data-toggle="tooltip" href="http://www.dribbble.com/harnishdesign/" target="_blank" title="" data-original-title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
        <li><a data-toggle="tooltip" href="http://www.github.com/" target="_blank" title="" data-original-title="GitHub"><i class="fab fa-github"></i></a></li>
      </ul>
      <p class="text-center">Copyright &copy; 2020 <a href="http://www.harnishdesign.net/idocs-one-page-documentation-html-template/">Fwd</a>. All Rights Reserved.</p>
	  <p class="text-2 text-center mb-0">Design &amp; Develop by <a class="btn-link" target="_blank" href="http://www.harnishdesign.net/">HarnishDesign</a>.</p>
    </div>
  </footer>
  
</div>
<!-- Document Wrapper end --> 

<!-- Back To Top --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- JavaScript
============================ -->
<script src="assets/vendor/jquery/jquery.min.js"></script> 
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<!-- Highlight JS -->
<script src="assets/vendor/highlight.js/highlight.min.js"></script> 
<!-- Easing --> 
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script> 
<!-- Magnific Popup --> 
<script src="assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script> 
<!-- Custom Script -->
<!-- <script src="assets/js/theme.js"></script> -->
<script src="assets/js/vue-markdown.js"></script>

<script>
    window.load = function() {

        // Dropdown show on hover
        $('.primary-menu ul.navbar-nav li.dropdown, .login-signup ul.navbar-nav li.dropdown').on("mouseover", function() {
            if ($(window).width() > 991) {
                $(this).find('> .dropdown-menu').stop().slideDown('fast');
                $(this).bind('mouseleave', function() {
                $(this).find('> .dropdown-menu').stop().css('display', 'none'); 
                });
            }
        });

        // When dropdown going off to the out of the screen.
        $('.primary-menu ul.navbar-nav .dropdown-menu').each(function() {
                var menu = $('#header .container-fluid').offset();
                var dropdown = $(this).parent().offset();

                var i = (dropdown.left + $(this).outerWidth()) - (menu.left + $('#header .container-fluid').outerWidth());

                if (i > 0) {
                    $(this).css('margin-left', '-' + (i + 5) + 'px');
                }
            });
   


        // DropDown Arrow
        $('.primary-menu ul.navbar-nav').find('a.dropdown-toggle').append($('<i />').addClass('arrow'));


        // Mobile Collapse Nav
        $('.primary-menu .navbar-nav .dropdown-toggle[href="#"], .primary-menu .dropdown-toggle[href!="#"] .arrow').on('click', function(e) {
            if ($(window).width() < 991) {
                e.preventDefault();
                var $parentli = $(this).closest('li');
                $parentli.siblings('li').find('.dropdown-menu:visible').slideUp();
                $parentli.find('> .dropdown-menu').stop().slideToggle();
                $parentli.siblings('li').find('a .arrow.show').toggleClass('show');
                $parentli.find('> a .arrow').toggleClass('show');
            }
        });


        // Mobile Menu
        $('.navbar-toggler').on('click', function() {
            $(this).toggleClass('show');
        });


        /*------------------------
           Side Navigation
        -------------------------- */

        $('#sidebarCollapse').on('click', function () {
            $('#sidebarCollapse span:nth-child(3)').toggleClass('w-50');
            $('.idocs-navigation').toggleClass('active');
        });


        /*------------------------
           Sections Scroll
        -------------------------- */

        $('.smooth-scroll,.idocs-navigation a').on('click', function() {
            event.preventDefault();
            var sectionTo = $(this).attr('href');
            $('html, body').stop().animate({
              scrollTop: $(sectionTo).offset().top - 120}, 1000, 'easeInOutExpo');
        });

        /*-----------------------------
            Magnific Popup
        ------------------------------- */

        // Image on Modal
        $('.popup-img').each(function() {
            $(this).magnificPopup({
                type: "image",
                tLoading: '<div class="preloader"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>',
                closeOnContentClick: !0,
                mainClass: "mfp-fade",
                
            });
        });


        /*------------------------
           tooltips
        -------------------------- */
        $('[data-toggle=\'tooltip\']').tooltip({container: 'body'});


        /*------------------------
           Scroll to top
        -------------------------- */
        $(function () {
            $(window).on('scroll', function(){
                if ($(this).scrollTop() > 400) {
                        $('#back-to-top').fadeIn();
                    } else {
                        $('#back-to-top').fadeOut();
                    }
                });
            });

        $('#back-to-top').on("click", function() {
            $('html, body').animate({scrollTop:0}, 'slow');
            return false;
        });


        // })(jQuery)

    }
    Vue.use(VueMarkdown);
    var app = new Vue({
        el: '#main-wrapper',
        data: {
            message: '<%- message %>',
            darkMode: false,
            active: false,
            config: {}
        },
        mounted() {

            var self = this

            if (localStorage.getItem('darkMode') == 'true' || localStorage.getItem('darkMode') !== 'false' && (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                // this.darkMode = true
                document.documentElement.className += 'dark-mode'
                localStorage.setItem('darkMode', true)
            }

            this.load((data) => {

                window.load()

                hljs.initHighlighting.called = false;
                hljs.initHighlighting();

                $('.lds-ellipsis').fadeOut(); // will first fade out the loading animation
                $('.preloader').delay(333).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(333);

                this.section(data.sections[0])
                
                var hash = window.location.pathname !== '/' ? window.location.pathname : window.location.hash

                if (hash && self.config.redirect) {
                    for (var i of this.config.redirect) {
                        if (i.path === hash.replace('#', '').replace('/', '')) {
                            this.section(data.sections.find(a => a.file === i.file))
                        }
                    }
                }

                if (hash && !self.config.redirect) {
                    setTimeout(() => {

                        // if (window.location.pathname !== '/') {
                        //     window.history.pushState(window.location.pathname, "", '/')
                        // }
                        
                        // self.redirect(hash)

                    }, 500)
                }


            })

        },
        methods: {
            redirect(hash) {
                window.location.hash = '#' + hash.replace('#', '').replace('/', '')
                return 
            },
            toggleDarkMode() {
                if (this.darkMode) {
                    this.darkMode = false
                    // document.documentElement.className += 'dark-mode'
                    localStorage.setItem('darkMode', false)
                    window.location.reload()
                } else {
                    this.darkMode = true
                    document.documentElement.className += ' dark-mode'
                    localStorage.setItem('darkMode', true)
                }
            },
            generateLinkMarkup($contentElement) {
              const headings = [...$contentElement.querySelectorAll('h1, h2')]
              const parsedHeadings = headings.map(heading => {
                return {
                  title: heading.innerText,
                  depth: heading.nodeName.replace(/\D/g,''),
                  id: heading.getAttribute('id')
                }
              })
              return parsedHeadings
            },
            parseMarkdown(markdownText) {
                var converter = new showdown.Converter()
                return converter.makeHtml(markdownText);
            },
            title(text) {
                return text.trim().replace(/[^\.\w\s-]/g, '')
                // return text.trim().replace(/[^\w\s-]/g, '')
            },
            slug(text) {
                return text.toLowerCase().trim().replace(/[^\w\s-]/g, '').replace(/[\s_-]+/g, '').replace(/^-+|-+$/g, '')
            },
            section(i) {
                var self = this
                if (!i) return
                i.slug = this.slug(i.title)
                var url = i.file || i.url
                window.history.pushState(window.location.pathname, "", '/' + i.slug.replace('api', ''))
                if (url) {
                    axios.get(url.replace('.md', '') + '.md').then((res) => {
                        i.template = res.data
                        this.active = i
                        setTimeout(() => {
                            hljs.initHighlighting.called = false;
                            hljs.initHighlighting();
                            var titles = i.template.match(/^## (.*$)/gim)
                                titles = titles ? titles.map(a => {
                                    return {
                                        title: self.title(a),
                                        href: self.slug(a)
                                    }
                                }) : titles
                            self.active.titles = titles
                            self.$forceUpdate()
                            // console.log( titles )
                        }, 100)
                    })
                    return
                }
                this.active = i
                if (i.text || i.markdown) i.template = i.text || i.markdown
                setTimeout(() => {
                    hljs.initHighlighting.called = false;
                    hljs.initHighlighting();
                    var titles = i.template.match(/^## (.*$)/gim)
                        titles = titles ? titles.map(a => {
                            return {
                                title: self.title(a),
                                href: self.slug(a)
                            }
                        }) : titles
                    self.active.titles = titles
                    self.$forceUpdate()
                    // console.log( titles )
                }, 100)
            },
            load(cb) {
                axios.get('./config.json').then((res) => {
                    this.config = res.data
                    if (cb) cb(res.data)
                })
            }
        }
    })
</script>

</body>
</html>
